[Unit]
Description=Home Automation Server - Master
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart={#LAUNCH_CMD#}

[Install]
WantedBy=multi-user.target