[Unit]
Description=Home Automation Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart={#SCRIPT_PATH#}

[Install]
WantedBy=multi-user.target